
<%
include('/_utils');
// このブロックでは、このコンポーネントのdefault valueを設定します。
// include('/_head', {title: 'xxxxx'}) のような形でオプションを渡した時には、それが利用され、
// 渡されていない時には下記のデフォルト値が使われます。
/*
例）
titleに "default title" というデフォルト値が設定されていた場合、
include('/_head', {title: 'aaa'}) => 'aaa'
include('/_head', {title: ''}) => ''
include('/_head', {title: null}) => null
include('/_head', {}) => 'default title'
include('/_head', {title: undefined}) => 'default title'
*/

const params = ejsUtils.defaultParamsMapper(locals, {
  title: '共通タイトル',
  description: '共通description',
  keywords: '共通,keyword',
  url: 'http://domain.com/',
  ogImg: 'http://domain.com/ogp.png',
  ogType: 'article'
})
%>

<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- meta -->
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />

  <!-- links -->
  <link rel="manifest" href="./manifest.json">
  <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="./favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="48x48" href="./favicon/favicon-48x48.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-160x160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-196x196.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">

  <!-- title, description -->
  <title><%- params.title %></title>
  <meta name="description" content="<%- params.description %>">
  <meta name="keywords" content="<%- params.keywords %>">
  <link rel="canonical" href="<%- params.url %>">
  <meta property="og:title" content="<%- params.title %>" />
  <meta property="og:type" content="<%- params.ogType %>" />
  <meta property="og:url" content="<%- params.url %>" />
  <meta property="og:image" content="<%- params.ogImg %>" />
  <meta property="og:description" content="<%- params.description %>" />

  <!-- assets -->
  <link rel="stylesheet" href="/assets/css/app.css" />
  <script src="/assets/js/app.js"></script>
</head>
<body>
